body {
    font-family: "Trebuchet MS", sans-serif;
}

table {
    caption-side: top;
    border-style: double;
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
}

caption {
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

th, td {
    border: 1px solid #380B61;
    color: #380B61;
    padding: 20px;
}

th, b {
    text-align: center;
}

td {
    text-align: right;
}

.bg-dark-blue {
    background-color: #002060;
    color: #ffffff;
}

.bg-cyan {
    background-color: #00b0f0;
    color: #ffffff;
}

.bg-medium-blue {
    background-color: #5b9bd5;
    color: #ffffff;
}

.bg-light-blue {
    background-color: #9dc3e6;
}
