body {
    background-color: #FBF37D;
    font-family: "Comic Sans MS";
}

h1 {
    color: green;
    font-family: "Verdana";
    text-align: center;
    text-decoration: underline;
}

h6 {
    color: red;
    text-align: right;
}

p {
    font-size: medium;
    text-align: justify;
}

b {
    color: green;
    text-decoration: underline;
}

img {
    border-style: groove;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
