body {
    background-color: #FBF37D;
    font-family: fantasy;
}

h2 {
    color: green;
    font-family: monospace;
    text-align: left;
    text-decoration: underline;
}

h6 {
    color: #993366;
    font-family: monospace;
    text-align: right;
}

p {
    font-size: 150%;
    text-align: left;
}


ul,
ol {
    font-size: 150%;
    text-align: left;
    font-weight: bold;
    margin-left: 10%
}

b {
    color: #990099;
    text-decoration: overline;
    font-size: 110%;
}

img {
    border: dotted;
    width: 25%;
    display: block;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-greek;
}