body {
    font-family: monospace;
    background-color: #ffffff;
}

table {
    caption-side: bottom;
    border: 2px solid #380B61;
    background-color: #9FFD87;
    border-collapse: collapse;
    width: 98%;
    margin: 20px auto;
}

caption {
    padding: 10px;
    font-weight: bold;
    color: #000;
}

th, td {
    border: 2px solid #380B61;
    color: #380B61;
    padding: 10px;
    height: 60px;
    vertical-align: middle;
}

th {
    text-align: left;
    font-weight: bold;
}

td {
    text-align: right;
    font-weight: normal;
}

td:nth-child(2) {
    text-align: center;
}


.captaula {
    background-color: #5BFF33;
}

.filapati {
    text-align: center;
}

.footer-info {
    font-size: 0.9em;
    padding: 10px;
}
